 
    
<div id="AddNewModal" class="modal fade in" role="dialog">
    <div class="modal-dialog" style="">
        <div class="panel panel-primary">
            <div class="panel-heading"> Add New ToDo</div>
            <div class="panel-body">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <label>Title</label>
                            <input type="text" id="txt_title" class="form-control"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <label>Due Date</label>
                            <input type="date" id="duedate" class="form-control" />
                        </div>
                    </div>

                </div>
            </div>
            <div class="panel-footer" style="text-align: center">
                <button type="button" onclick="SaveQuitfun()" class="btn btn-info" id="btn_SaveQuit">Save</button>

                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>

</div>


